
{% layout "layout.liquid" %}

{% block content %}

<div class="flex" x-data="state()" x-init="() => { firstPost && selectPost(firstPost.id) }">

  <sidebar class="h-screen w-56 bg-gray-100 py-6">
    <div class="px-6">
      <h1>{{ site.name }}</h1>
      <h2 class="uppercase text-gray-800 text-sm">Prosaic</h2>
      <p class="uppercase text-gray-600 mt-10 mb-2">Category</p>
    </div>
    <nav>
      <a class="side-menu-link active" href="/dashboard">{% include '_icon.liquid', name: 'page' %}Posts</a>
      <a class="side-menu-link" href="/settings">{% include '_icon.liquid', name: 'cog' %}Settings</a>
    </nav>
  </sidebar>

  <div class="w-96 border-l border-r border-gray-300">
    <div class="flex items-center bg-gray-100 h-16 px-4 border-b border-gray-200">
      <div class="h-10 border border-gray-200 flex-1 mr-2 rounded flex items-center bg-white">
        <div class="w-6 h-6 ml-2 mr-1">{% include '_icon.liquid', name: 'search' %}</div>
        <input class="flex-1 outline-none" type="text">
      </div>
      <button x-on:click="create()" class="h-10 w-10 border border-gray-200 bg-white rounded"><span class="h-6 w-6 block m-auto">{% include '_icon.liquid', name: 'plus' %}</span></button>
    </div>
    <div>
      <!--
      <div class="pt-3 px-4 border-b border-gray-200">
        <button class="filter active-filter">Drafts</a>
        <button class="filter">Published</a>
      </div>
      -->
      {% for post in posts %}
        <div class="post" x-bind:class="{ 'active': selectedId === {{ post.id }} }" x-on:click="selectPost({{ post.id }})">
          {{ post.title }}
          <div class="mt-2 flex justify-between items-center text-xs">
            {% if post.latestPublishedAt %}<span>Published ({{ post.publishedAt | date: '%m/%d/%Y' }})</span>{% else %}<span>Draft</span>{% endif %}
            {% if post.latestPublishedAt && post.latestPublishedAt < post.updatedAt %}<div class="pill info">Unpublished changes</div>{% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="flex-1">
    <div class="flex-base h-16 border-b border-gray-200 px-6">
      <button class="mr-2 h-10 w-10 border border-gray-200 bg-white rounded"><span class="h-6 w-6 block m-auto">{% include '_icon.liquid', name: 'snowman' %}</span></button>
      <button x-on:click="edit()" class="h-10 px-4 border border-gray-200 bg-white rounded">Edit</button>
      <div class="flex-1"></div>
    </div>
    <div class="my-5 mx-10">
      <div class="editor-preview max-w-3xl" x-html="preview"></div>
    </div>
  </div>

</div>

<script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css">
<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
<link rel="stylesheet" href="/previews/{{ site.themeId }}/index.css">
<script>
  function state() {

    const api = {
      firstPost: {% if posts.length > 0 %}{{ posts | first | json }}{% else %}null{% endif %},
      preview: '',
      selectedId: null,
      create() {
        window.location.href = `/editor/new`
      },
      edit() {
        window.location.href = `/editor/${api.selectedId}`
      },
      async selectPost(id) {
        this.selectedId = id
        const content = await fetch(`/api/posts/${id}/content`).then(resp => resp.json()).then(json => json.data)
        this.preview = EasyMDE.prototype.markdown.call({ options: { renderingConfig: { codeSyntaxHighlighting: true } } }, content)
      }
    }

    return api
  }
</script>

{% endblock %}
