
{% layout "layout.liquid" %}

{% block content %}

<div class="flex" x-data="state()">

  <sidebar class="h-screen w-56 bg-gray-100 py-6">
    <div class="px-6">
      <h1>{{ site.name }}</h1>
      <h2 class="text-gray-800 text-sm">{{ site.handle }}.{{ env.HOSTNAME }}</h2>
    </div>
    <p class="uppercase text-gray-600 mt-8 mb-2 text-sm px-6">Content</p>
    <nav>
      <a class="side-menu-link" href="/dashboard">{% include '_icon.liquid', name: 'page' %}Posts</a>
    </nav>
    <p class="uppercase text-gray-600 mt-6 mb-2 text-sm px-6">Settings</p>
    <nav>
      <a class="side-menu-link" href="/settings/general">{% include '_icon.liquid', name: 'cog' %}General</a>
      <a class="side-menu-link active" href="/settings/theme">{% include '_icon.liquid', name: 'palette' %}Theme</a>
    </nav>
  </sidebar>

  <div class="flex-1 p-6 border-l border-r max-w-lg" x-data="state()">

    <div class="alert" x-bind:class="{ 'open': alert.open }">
      <div x-show="alert.title" class="alert-title" x-text="alert.title"></div>
      <div x-show="alert.content" class="alert-content" x-text="alert.content"></div>
    </div>

    <div class="border-b pb-4 flex justify-between items-center">
      <div class=" font-medium text-lg">Theme settings</div>
      <!--
      <button class="button w-auto px-4" x-on:click="toggleThemeChange()" x-text="themeChanging ? 'Cancel' : 'Change theme'"></button>
      -->
    </div>
    <form x-on:submit.prevent="save()" class="space-y-4">
      <template x-for="(item, index, collection) in currentTheme.settings">
        <div>
        <template x-if="item.type === 'multi'">
          <div>
            <label class="field-label" x-text="item.label"></label>
            <select x-model="themeSettings[themeId][item.id]">
              <template x-for="(item2, index2, collection2) in item.options">
                <option 
                  x-bind:value="item2.value" 
                  x-bind:selected="item2.value === themeSettings[themeId][item.id]"
                  x-text="item2.label">
              </template>
            </select>
          </div>
        </template>
        </div>
      </template>
      <div class="flex items-center justify-between">
        <button class="button flex-1 mr-2">Save</button>
      </div>
    </form>
  </div>

</div>

<script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css">
<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
<script>
  function state() {

    const themes = JSON.parse('{{ themes | json }}')

    const themeSettings = JSON.parse('{{ site.themeSettings }}')

    const api = {

      themes,

      alert: { title: '', content: '' },

      themeSettings,

      themeId: '{{ site.themeId }}',

      currentTheme: themes.find(theme => theme.id === '{{ site.themeId }}'),

      themeChanging: false,

      toggleThemeChange() {
        this.themeChanging = !this.themeChanging
      },

      save() {
        return fetch('/api/theme-settings', {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            themeId: this.themeId,
            themeSettings: {
              ...themeSettings,
              [this.themeId]: this.themeSettings[this.themeId]
            }
          })

        }).then(resp => resp.json())
          .then(json => {
            debugger
          })
      }
    }

    return api
  }
</script>

{% endblock %}
