<!doctype html>
<html lang="en">
    <head>
        {% include 'components/_head.liquid' %}
    </head>
    <body {% if site.themeSettings.paper.mode == 'dark' %}data-theme="dark"{% endif %}>
      <script>
        ;(function() {
          const saved = localStorage.getItem('mode-preference')
          if (saved) {
            document.body.setAttribute('data-theme', saved)
          }
        })();
      </script>
        <header class="header">
            <div class="header__left">
                <a class="logo" href="/">
                    <span class="logo__text">
                      &larr; {{ site.name }}
                    </span>
                </a>
            </div>
            
            <div class="header__right">        
                <button role="button" aria-label="Toggle dark/light" @click.prevent="toggleTheme" class="toggle-theme">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sun"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-moon"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>
                </button>
            </div>
            <script>
              ;(function() {
                const toggle = document.querySelector('.toggle-theme')
                const showCorrectSvg = () => {
                  if (document.body.getAttribute('data-theme') == 'dark') {
                    toggle.children[0].style.display = 'block'
                    toggle.children[1].style.display = 'none'
                  } else {
                    toggle.children[1].style.display = 'block'
                    toggle.children[0].style.display = 'none'
                  }
                }
                toggle.addEventListener('click', e => {
                  if (document.body.getAttribute('data-theme') == 'dark') {
                    localStorage.setItem('mode-preference', 'light')
                    document.body.setAttribute('data-theme', 'light')
                  } else {
                    localStorage.setItem('mode-preference', 'dark')
                    document.body.setAttribute('data-theme', 'dark')
                  }
                  showCorrectSvg()
                })
                showCorrectSvg()
              })()
            </script>
          </header>

          {% assign rendered = post.content | markdown %}

          <main class="main">
            <div class="post-title">
                <h1 class="post-title__text">
                    {{ post.title }}
                </h1>
            
                <div class="post-meta post-card__meta">
                    {{ post.publishedAt | date: '%b %d, %Y' }} &middot; {{ post.content | size | divided_by: 540 | floor }} min read
                </div>
            </div>

                <div class="post content-box">
              
                    <div class="post__content">
                        {{ rendered }}
                    </div>
              
                    <div class="post__footer">
                        {% if post.tags.size > 0 %}
                        {% assign tags = post.tags | split: ',' %}
                        <div class="post-tags post-card__tags">
                            {% for tag in tags %}
                            <a class="post-tags__link" href="/tags/{{ tag }}">
                                <span>#</span> {{ tag }}
                            </a>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                  </div>
            
                </div>
          
          </main>
      
          <footer class="footer">
            <span class="footer__copyright">© 2020 {{ site.name }}</span>
            <strong>&middot;</strong>
            <span class="footer__links">
                <a href="/feed.xml">
                    <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path fill="currentColor"
                            d="M128.081 415.959c0 35.369-28.672 64.041-64.041 64.041S0 451.328 0 415.959s28.672-64.041 64.041-64.041 64.04 28.673 64.04 64.041zm175.66 47.25c-8.354-154.6-132.185-278.587-286.95-286.95C7.656 175.765 0 183.105 0 192.253v48.069c0 8.415 6.49 15.472 14.887 16.018 111.832 7.284 201.473 96.702 208.772 208.772.547 8.397 7.604 14.887 16.018 14.887h48.069c9.149.001 16.489-7.655 15.995-16.79zm144.249.288C439.596 229.677 251.465 40.445 16.503 32.01 7.473 31.686 0 38.981 0 48.016v48.068c0 8.625 6.835 15.645 15.453 15.999 191.179 7.839 344.627 161.316 352.465 352.465.353 8.618 7.373 15.453 15.999 15.453h48.068c9.034-.001 16.329-7.474 16.005-16.504z">
                        </path>
                    </svg>
                    RSS
                </a>
            </span>
          </footer>

          {% assign withoutCode = rendered | remove_first: '<code' %}
            {% if withoutCode.size < rendered.size %}
            <link rel="preload" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css" as="style"
                onload="this.onload=null;this.rel='stylesheet'">
            <noscript>
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css"></noscript>
            <script>
                const script = document.createElement('script')
                script.onload = () => {
                    document.querySelectorAll('pre code').forEach((block) => {
                        hljs.highlightBlock(block)
                    })
                }
                script.src = 'https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js'
                document.body.appendChild(script)
            </script>
            {% endif %}
    </body>
</html>
