<!DOCTYPE html>
<!--[if lt IE 7]><html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="en" class="no-js lt-ie9 lt-ie8" <![endif]-->
<!--[if IE 8]><html lang="en" class="no-js lt-ie9" <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

{% include 'partials/head.html' %}

{% assign rendered = post.content | markdown %}

<body>
  <div class="breadcrumbs">
    <a href="/" class="breadcrumb">{{ site.name }}</a>
  </div>
  <div class="content">
    <div class="container">
        <div class="post">
        {% if page.image %}
          <div class="featuredImage">
              <img src="{{ '/assets/img/' | prepend: site.baseurl | append: page.image }}" alt="" />
            </div>
        {% endif %}
        <h1 class="postTitle">{{ post.title }}</h1>
        <p class="meta">{{ post.publishedAt | date: '%B %d, %Y' }} &middot; <span class="time">{{ post.content | size | divided_by: 540 | floor }}</span> Minute Read</p>
        
        {{ rendered }}

    </div>
  </div><!-- end .content -->

  {% include 'partials/footer.html' %}

  {% assign withoutCode = rendered | remove_first: '<code' %}
  {% if withoutCode.size < rendered.size %}
    <link rel="preload" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css"></noscript>
    <script>
      const script = document.createElement('script')
      script.onload = () => {
        document.querySelectorAll('pre code').forEach((block) => {
          hljs.highlightBlock(block)
        })
      }
      script.src = 'https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js'
      document.body.appendChild(script)
    </script>
  {% endif %}

</body>

</html>



